table {
    width: 100%;
    margin-bottom: 15px;
}

button {
    margin-left: 10px;
}

.number-input-size {
    max-width: 80px;
}

td {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

th {
    text-align: center;
}