table {
    width: 100%;
    margin-bottom: 15px;
}

button {
    margin-left: 10px;
}

.number-input-size {
    max-width: 80px;
}

td {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

th {
    text-align: center;
}

.mat-slide-toggle.mat-checked /deep/ .mat-slide-toggle-bar /deep/ {
    background-color: rgb(78, 78, 216) !important;
}

.mat-slide-toggle.mat-checked /deep/ .mat-slide-toggle-thumb /deep/ {
    background-color: rgb(49, 49, 155) !important;
}
