<div class="container">
  <button mat-raised-button [routerLink]="['/goals/group']" color="primary">group goals</button><br>
  <button mat-raised-button color="primary">add user</button>
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>

  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>
  <mat-card>vardas | <button mat-raised-button color="primary">remove</button></mat-card>

</div>
