<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
    <div class="row">
        <mat-form-field>
            <input matInput type="text" placeholder="Vardas" [formControl]="form.controls['firstname']" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="text" placeholder="Pavardė" [formControl]="form.controls['surname']" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="email" placeholder="El. paštas" [formControl]="form.controls['email']" required>
            <mat-error *ngIf="!form.controls['email'].valid">Laukas nėra l. prašto formato.</mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="text" placeholder="Slapyvardis" [formControl]="form.controls['username']" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput type="password" placeholder="Slaptažodis" [formControl]="form.controls['password']" required>
        </mat-form-field>
    </div>
    <div class="row">
        <button mat-raised-button color="primary" type="submit">Saugoti</button>
    </div>
</form>
<br>