<div class="container" *ngIf="userData">
    <mat-card>
        <mat-card-header>
            <mat-card-title> Profilis
            </mat-card-title>
            <mat-card-subtitle>
                {{userData.user.username}}
                <br> {{userData.user.firstname}} {{userData.user.lastname}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="userData.description">
                {{userData.user.description}}
            </p>
            <p *ngIf="!userData.description">
                Aprašymo nėra
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="id==undefined || id==userData.id" mat-raised-button color="primary" [routerLink]="['/dashboard/profile/edit']">Redaguoti</button>
        </mat-card-actions>
    </mat-card>
    <app-comments [comments]="userData.userComments"></app-comments>
    <app-create-comment (commentCreated)="pushCommentToComments($event)" [commentedUser]="userData.user.username" [commentTarget]="commentTarget"></app-create-comment>
</div>