<div class="container" *ngIf="userData">

    <mat-card>
        <div class="row">
            <div class="col-md-4">
                <mat-card-header>
                    <mat-card-title> Profilis
                    </mat-card-title>

                </mat-card-header>
                <img *ngIf="doesUserHaveImage()" [src]="getImageUrl()" height="200">

            </div>
            <div class="col-md-8">
                <mat-card-content>
                    <br><br> {{userData.user.username}}
                    <br> {{userData.user.firstname}} {{userData.user.lastname}}
                    <br>
                    <br><br>
                    <p *ngIf="userData.user.description">
                        {{userData.user.description}}
                    </p>
                    <p *ngIf="!userData.user.description">
                        Aprašymo nėra
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="id==undefined || id==userData.id" mat-raised-button color="primary" [routerLink]="[ '/dashboard/profile/edit'] ">Redaguoti</button>
                </mat-card-actions>


            </div>
        </div>
    </mat-card>
    <br>


    <app-comments [comments]="userData.userComments"></app-comments>
    <app-create-comment (commentCreated)="pushCommentToComments($event)" [commentedUser]="userData.user.username" [commentTarget]="commentTarget"></app-create-comment>
</div>
