<div *ngIf="isGroupLoaded" class="container">
  <div *ngIf="groupObject.group">
    <div *ngIf="groupObject.isLeader">
      <div class="row">
        <div class="col-11">
          <button mat-raised-button color="warn" (click)="deleteGroup()">Pašalinti grupę</button>
          <button mat-raised-button color="primary" [routerLink]="['/goals/groupusers']">grupės nariai</button>
        </div>
        <div class="col-1">
          <button mat-raised-button color="primary" [routerLink]="['/goals/creategroupgoal']">Sukurti siekį</button>
        </div>
      </div>

    </div>
    <div *ngIf="!groupObject.isLeader">
      <button mat-raised-button color="warn" (click)="leaveGroup()">Palikti grupę</button>
    </div>
  </div>

  <!-- ----------------------------------------------------------------- -->
  <ng-container *ngIf="groupObject.group">
    <table mat-table [dataSource]="groupProgressObject" class="mat-elevation-z8">

      <ng-container matColumnDef="goalDetails">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['/goals/group', element.goal.id]">
            Siekio aprašymas</button>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef> Siekis </th>
        <td mat-cell *matCellDef="let element"> {{element.goal.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="userGoalProgresses">
        <th mat-header-cell *matHeaderCellDef> Narių progresas </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let progress of element.userGoalProgresses">
            {{progress.user.username}} <mat-checkbox [(ngModel)]="progress.isDone" [disabled]=true></mat-checkbox>
          </ng-container>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

  <!-- ----------------------------------------------------------------- -->
  <div *ngIf="!groupObject.group">
    <button mat-raised-button color="primary" [routerLink]="['/goals/creategroup']">Grupės sukūrimas</button>
    <app-group-invitation></app-group-invitation>
  </div>
</div>
