<button mat-raised-button [routerLink]="['/workout/create']" color="primary">Create new</button>
<br>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
<mat-card>Workout 1
  <button mat-raised-button [routerLink]="['/workout/session']" color="primary">start workout</button>
</mat-card>
