<slideshow [height]="'400px'" [minHeight]="'200px'" [autoPlay]="true" [imageUrls]="imageSources" [autoPlayWaitForLazyLoad]="true" [showArrows]="false">
</slideshow>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="imageThree" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Grupės</h2>
            <p>Ar kada norėjote rungtyniauti su savo draugais arba stebėti kaip jūsų auklėtinių grupė atlieka savo siekius?</p>
            <p><a class="btn btn-secondary" [routerLink]="['/goals/group']" role="button">Grupės &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="imageOne" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Tikslai</h2>
            <p>Kurkite tikslus, kurių progresą stebės sistema. Siekite šiuos tikslus su išmaniųjų įrenginių duomenimis, jog pasiektumėte savo pilną potencialą!</p>
            <p><a class="btn btn-secondary" [routerLink]="['/goals']" role="button">Tikslai &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="imageTwo" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Treniruotės</h2>
            <p>Kurkite treniruočių maršrutus, kuriuos įveikę jausite motyvacijos antpludį treniruotis toliau!</p>
            <p><a class="btn btn-secondary" [routerLink]="['/workout']" role="button">Treniruotės &raquo;</a></p>
        </div>

    </div>
    <!-- /.row -->
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tikslų sekimo puslapis</h1>
        <p class="lead text-muted">Čia kažkoks puslapio aprašas.</p>
        <p>
            <a [routerLink]="['/goals']" class="btn btn-primary my-2">Pradėti dabar</a>
        </p>
    </div>
</section>
