<slideshow [height]="'400px'" [minHeight]="'200px'" [autoPlay]="true" [imageUrls]="imageSources" [autoPlayWaitForLazyLoad]="true" [showArrows]="false">
</slideshow>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src='http://localhost:52503/Resources/public_content/home_circles/group.jpg' alt="Generic placeholder image" width="140" height="140">
            <h2>Grupės</h2>
            <p>Ar kada norėjote rungtyniauti su savo draugais arba stebėti kaip jūsų auklėtinių grupė atlieka savo siekius?</p>
            <p><a mat-raised-button [routerLink]="['/goals/group']" role="button">Grupės &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src='http://localhost:52503/Resources/public_content/home_circles/goal.jpg' alt="Generic placeholder image" width="140" height="140">
            <h2>Tikslai</h2>
            <p>Kurkite tikslus, kurių progresą stebės sistema. Siekite šiuos tikslus su išmaniųjų įrenginių duomenimis, jog pasiektumėte savo pilną potencialą!</p>
            <p><a mat-raised-button [routerLink]="['/goals']" role="button">Tikslai &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src='http://localhost:52503/Resources/public_content/home_circles/workout.jpg' alt="Generic placeholder image" width="140" height="140">
            <h2>Treniruotės</h2>
            <p>Kurkite treniruočių maršrutus, kuriuos įveikę jausite motyvacijos antpludį treniruotis toliau!</p>
            <p><a mat-raised-button [routerLink]="['/workout']" role="button">Treniruotės &raquo;</a></p>
        </div>

    </div>
    <!-- /.row -->
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tikslų sekimo puslapis</h1>
        <p class="lead text-muted">Kuriamos sistemos tikslas yra sukurti prototipą terpės, kurioje naudotojas ar naudotojų grupė galėtų sekti savo tikslus, kuri progresas būtų remiamas išorinių įrenginių duomenimi. </p>
        <p>
            <a [routerLink]="['/goals']" class="btn btn-primary my-2">Pradėti dabar</a>
        </p>
    </div>
</section>
