<slideshow [height]="'300px'" [minHeight]="'200px'" [autoPlay]="true" [imageUrls]="imageSources"
  [autoPlayWaitForLazyLoad]="true" [showArrows]="false">
</slideshow>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Pas mane centai, pas tave kupiūros</h1>
    <p>Ich hatte ein Partner in der Deutscher Kurs. Aber er musste alle Wörte Bedeutung im Internet suchen. Das gefält mir nicht!</p>
    <p><button mat-raised-button [routerLink]="['/goals']" color="primary">Pradėti dabar</button></p>
  </div>
</div>
