<div class="container">

  <button mat-raised-button color="primary" [routerLink]="['/goals']">Siekiai</button>
  <button mat-raised-button color="primary" [routerLink]="['/goals/group']">Grupės siekiai</button>
  <br>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="goalNameForm">
      <form [formGroup]="goalNameForm">
        <ng-template matStepLabel>Siekio pavadinimas</ng-template>
        <mat-form-field>
          <input matInput placeholder="Siekio pavadinimas" formControlName="goalNameControl" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>sekantis žingsnis</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Siekio pasikartojimas</ng-template>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious >Praeitas žingsnis</button>
        <button mat-raised-button color="primary" (click)="submit()">Kurti</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</div>
