<br>
<form [formGroup]="newWorkoutForm">
    <div class="row">
        <div class="col-md-8">
            <mat-form-field>
                <input matInput placeholder="treniruotės pavadinimas" formControlName="workoutNameControl" required>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <button mat-raised-button [disabled]="workoutService.routePoints.length<2" (click)="saveWorkout()" color="primary">Išsaugoti</button>
            <button mat-raised-button [routerLink]="['/workout/list']" (click)="workoutService.clearRoutePoints()" color="primary">Atšaukti</button>
        </div>
    </div>

</form>
<br>
<br>
<br>
<button mat-raised-button color="primary" [disabled]="workoutService.newRoutePoint" (click)="addRoutePoint()">Pridėti tašką</button><br><br>
<button mat-raised-button color="primary" [disabled]="!workoutService.newRoutePoint" (click)="saveRoutePoint()">Saugoti tašką</button>
<button mat-raised-button color="primary" [disabled]="workoutService.routePoints.length==0" (click)="removeRoutePoint()">Pašalinti tašką</button>

<mat-list role="list">
    <mat-list-item *ngFor="let routePoint of workoutService.routePoints; let routeIndex = index" role="listitem">
        <button mat-raised-button (click)="setInfoWindow(routePoint)">{{routeIndex+1}}. Koordinatė</button>
    </mat-list-item>
</mat-list>
<br>