<agm-map (centerChange)="setCenterCoordinates($event)" [latitude]="54.904053" [longitude]="23.949231" [zoom]="16">

  <agm-circle *ngIf="workoutCreateService.newRoutePoint" (centerChange)="updatePointCoordinates($event)"
    [latitude]="workoutCreateService.newRoutePoint.lat" [longitude]="workoutCreateService.newRoutePoint.lng"
    [radius]="workoutCreateService.newRoutePoint.radius" [fillColor]="workoutCreateService.newRoutePoint.fillColour"
    [circleDraggable]="workoutCreateService.newRoutePoint.circleDraggable"
    [editable]="workoutCreateService.newRoutePoint.editable" [zIndex]="workoutCreateService.newRoutePoint.index">
  </agm-circle>

  <ng-container *ngFor="let routePoint of workoutCreateService.routePoints">
    <agm-circle (centerChange)="updatePointCoordinates($event)" [latitude]="routePoint.lat" [longitude]="routePoint.lng"
      [radius]="routePoint.radius" [fillColor]="routePoint.fillColour" [circleDraggable]="routePoint.circleDraggable"
      [editable]="routePoint.editable" [zIndex]="routePoint.index">
    </agm-circle>
  </ng-container>

  <agm-polyline [polylineDraggable]='true'>
    <ng-container *ngFor="let routePoint of workoutCreateService.routePoints; let routeIndex = index">
      <agm-polyline-point [latitude]="routePoint.lat" [longitude]="routePoint.lng">
      </agm-polyline-point>
    </ng-container>

  </agm-polyline>
  <agm-marker *ngIf="workoutCreateService.infoWindow" [latitude]="workoutCreateService.infoWindow.lat"
    [longitude]="workoutCreateService.infoWindow.lng">
    <agm-info-window [isOpen]='true' (infoWindowClose)="workoutCreateService.clearInfoWindow()">
      eilės nr: {{workoutCreateService.infoWindow.index}}
    </agm-info-window>
  </agm-marker>
</agm-map>
