<agm-map (mapClick)='imitateLocation($event)' (centerChange)="setCenterCoordinates($event)" [latitude]="workoutService.centerCoordinatesWorkout.lat" [longitude]="workoutService.centerCoordinatesWorkout.lng" [zoom]="16">
    <!-- new point -->
    <agm-circle *ngIf="workoutService.newRoutePoint" (radiusChange)="onRadiusChange($event)" (centerChange)="updatePointCoordinates($event)" [latitude]="workoutService.newRoutePoint.lat" [longitude]="workoutService.newRoutePoint.lng" [radius]="workoutService.newRoutePoint.radius"
        [fillColor]="workoutService.newRoutePoint.fillColour" [circleDraggable]="workoutService.newRoutePoint.circleDraggable" [editable]="workoutService.newRoutePoint.editable" [zIndex]="workoutService.newRoutePoint.index">
    </agm-circle>

    <!-- route points -->
    <ng-container *ngFor="let routePoint of workoutService.routePoints">
        <agm-circle [latitude]="routePoint.lat" [longitude]="routePoint.lng" [radius]="routePoint.radius" [fillColor]="routePoint.fillColour" [circleDraggable]="routePoint.circleDraggable" [editable]="routePoint.editable" [zIndex]="routePoint.index" (circleClick)="imitateLocation($event)">
        </agm-circle>
    </ng-container>

    <!-- lines through points -->
    <agm-polyline [strokeOpacity]="0.5">
        <ng-container *ngFor="let routePoint of workoutService.routePoints; let routeIndex = index">
            <agm-polyline-point [latitude]="routePoint.lat" [longitude]="routePoint.lng">
            </agm-polyline-point>
        </ng-container>

    </agm-polyline>

    <!-- marker on point click -->
    <agm-marker *ngIf="workoutService.infoWindow" [latitude]="workoutService.infoWindow.lat" [longitude]="workoutService.infoWindow.lng">
        <agm-info-window [isOpen]='true' (infoWindowClose)="workoutService.clearInfoWindow()">
            eilės nr: {{workoutService.infoWindow.index}}
        </agm-info-window>
    </agm-marker>

    <!-- current user position -->
    <agm-marker *ngIf="workoutService.userLocation" [latitude]="workoutService.userLocation.lat" [longitude]="workoutService.userLocation.lng">
    </agm-marker>
</agm-map>
