<div class="isMembersLoaded">
  <button mat-raised-button [routerLink]="['/goals/group']" color="primary">grupės siekiai</button><br><br>


  <form [formGroup]="newMemberForm">
    <ng-template>Naudotojo paštas</ng-template>
    <mat-form-field>
      <input matInput formControlName="memberUsernameControl" required>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="submit()">Siųsti pakveitimą</button>
    </div>
  </form>

  <mat-list role="list">
    <mat-list-item *ngFor="let member of membersObject" role="listitem">
      {{member.firstName}} - {{member.lastName}}
      <button mat-button (click)="removeGroupMember(member)">Pašalinti</button>
    </mat-list-item>
  </mat-list>

  TODO: GAL PADARYT, KAD RODYTU KAM ISSIUSTA

</div>
