<div class="container">
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>

  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>

  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
</div>



<mat-checkbox [(ngModel)]="group">group</mat-checkbox>

<div *ngIf="group" class="container">
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>

  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>

  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/goals/id']" color="primary">details</button>
    This is some goal name<mat-checkbox>Checked</mat-checkbox>
  </mat-card>
</div>
