<div class="container" *ngIf="isGoalsLoaded">
  <h5>Mano siekiai</h5>
  <table mat-table [dataSource]="goalsObject" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="goal">
      <th mat-header-cell *matHeaderCellDef> Siekis </th>
      <td mat-cell *matCellDef="let element"> {{element.goal.name}} </td>
    </ng-container>
    <ng-container matColumnDef="goalProgress">
      <th mat-header-cell *matHeaderCellDef> Progresas </th>
      <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="element.goal.goalType != 1" (click)="changeGoalProgressState(element)" [checked]="element.goalProgress.isDone">
          </mat-checkbox>
        <button *ngIf="element.goal.workoutId > 0" mat-button
          [routerLink]="['/workout/session', element.goal.workoutId]" color="primary">pradėti
          treniruotę</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="container" *ngIf="isGroupGoalsLoaded">
  <ng-container *ngIf="groupGoalsObject">
    <h5>Grupės siekiai</h5>
    <table mat-table [dataSource]="groupGoalsObject" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef> Siekis </th>
        <td mat-cell *matCellDef="let element"> {{element.goal.name}} </td>
      </ng-container>
      <ng-container matColumnDef="goalProgress">
        <th mat-header-cell *matHeaderCellDef> Progresas </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="element.goal.goalType != 1" (click)="changeGroupProgressState(element)"
              [checked]="element.goalProgress.isDone"></mat-checkbox>

          <button *ngIf="element.goal.workoutId > 0" mat-button
            [routerLink]="['/workout/session', element.goal.workoutId]" color="primary">pradėti
            treniruotę</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>
