button {
    margin: 5px;
}

mat-radio-group {
    margin: 5px;
}

mat-radio-button {
    margin: 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked /deep/ .mat-radio-outer-circle /deep/,
.mat-radio-outer-circle /deep/ {
    border-color: blue !important;
}

.mat-radio-button.mat-accent /deep/ .mat-radio-inner-circle /deep/ {
    background-color: blue !important;
}

.goal-box {
    max-height: 200px;
    min-height: 200px;
}

.workout-box {
    max-height: 200px;
    min-height: 200px;
}
