<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field>
        <input matInput type="email" placeholder="El. paštas" [formControl]="form.controls['email']" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput type="password" placeholder="Slaptažodis" [formControl]="form.controls['password']" required>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" type="submit">Saugoti</button>
    </div>
  </form>
</div>
