/* FOOTER */

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.hr-margin {
    margin-left: 20px;
    margin-right: 20px;
}