<ng-container *ngIf="isWorkoutLoaded">
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h5>Treniruotė</h5>
            <ng-container *ngIf="workoutService.currentSessionPoint==0">
                <button mat-raised-button (click)="this.workoutService.clearRoutePoints()" [routerLink]="['/workout/list']" color="primary">Atgal</button>
                <button mat-fab color="primary" (click)="startWorkoutSession()">Pradėti</button>
            </ng-container>
            <ng-container *ngIf="workoutService.currentSessionPoint>0">
                <button mat-fab color="primary" (click)="endWorkoutSession()">Baigti</button>
            </ng-container>
        </div>
        <div class="col-md-3"></div>
    </div>

    <ng-container *ngIf="workoutService.currentSessionPoint>0">
        Pasiekti tašką - {{workoutService.currentSessionPoint}}
    </ng-container>
    <br>

    <ng-container *ngIf="workoutService.userLocation">
        koordinaės <br> lat: {{workoutService.userLocation.lat}} <br> lng {{workoutService.userLocation.lng}} <br>
    </ng-container>

    <mat-list role="list">
        <mat-list-item *ngFor="let routePoint of workoutService.routePoints; let routeIndex = index" role="listitem">
            <button mat-raised-button (click)="setInfoWindow(routePoint)">{{routeIndex+1}}. Koordinatė</button>
        </mat-list-item>
    </mat-list>
</ng-container>
