<div class="container">
  <button mat-raised-button [routerLink]="['/goals/create']" color="primary">create</button>

  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
  <mat-card>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
    <mat-checkbox>Checked</mat-checkbox>
    <button mat-mini-fab [routerLink]="['/goals/id']" color="primary">details</button>
  </mat-card>
</div>
