<div class="container">
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>
  <mat-card>
    <button mat-raised-button [routerLink]="['/dashboard/statistics/id']" color="primary">details</button>
    This is some goal name
  </mat-card>

</div>
