.container {
    margin-top: 20px;
}

.nav-item .nav-link :hover {
    cursor: pointer;
    box-shadow: 0 5px 0 #4d69e6;
}

.nav-item:hover {
    box-shadow: 0 5px 0 #4d69e6;
}

mat-progress-bar {
    z-index: 100;
    position: absolute;
}


/*
navbar {
    background-color: #4b5258 !important;
} */